header{
  .top-headerline{
    height:5px;
    background-color: #d11f2d;
    @media screen and (min-width: 768px){
        height:10px;
    }
  }
  h1{
    text-transform: uppercase;
    font-size: 20px;
    color: white;
  }
}