.intro{
  height: auto;
  background-color: #f6f9f9;
  text-align: center;
  .section-title{
    margin:25px 0 10px;
    color: #2d3950;
    font-size: 20px;
    @media screen and (min-width:768px){
      margin:70px 0 30px;
      font-size: 40px;
    }
  }
  p{
    margin-bottom:25px;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    @media screen and (min-width:768px){
      margin:0px 0 90px;
      padding: 0 15px;
      font-size: 20px;
      line-height: 32px;
    }
  }
}